################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS/.vs/Markup
/CS/bin/Debug
/CS/packages/log4net.2.0.3
/CS/obj
/CS/Markup.csproj.user
/VB/bin/Debug/Microsoft.VisualStudio.Tools.Applications.Runtime.xml
/VB/bin/Debug/Microsoft.VisualStudio.Tools.Applications.Runtime.dll
/VB/bin/Debug/Microsoft.Office.Tools.v4.0.Framework.xml
/VB/bin/Debug/Microsoft.Office.Tools.v4.0.Framework.dll
/VB/bin/Debug/Microsoft.Office.Tools.Excel.xml
/VB/bin/Debug/Microsoft.Office.Tools.Excel.dll
/VB/bin/Debug/Microsoft.Office.Tools.Common.v4.0.Utilities.xml
/VB/bin/Debug/Microsoft.Office.Tools.Common.v4.0.Utilities.dll
/VB/bin/Debug/Markup.xml
/VB/bin/Debug/Markup.vsto
/VB/bin/Debug/Markup.pdb
/VB/bin/Debug/Markup.dll.manifest
/VB/bin/Debug/Markup.dll.config
/VB/bin/Debug/Markup.dll
/VB/.vs/Markup/v14/.suo
/VB/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
/VB/obj/Debug/Markup.xml
/VB/obj/Debug/Markup.vbproj.GenerateResource.Cache
/VB/obj/Debug/Markup.vbproj.FileListAbsolute.txt
/VB/obj/Debug/Markup.Settings.resources
/VB/obj/Debug/Markup.Resources.resources
/VB/obj/Debug/Markup.pdb
/VB/obj/Debug/Markup.frmSettings.resources
/VB/obj/Debug/Markup.dll
/VB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/VB/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/VB/Markup.vbproj.user
