<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Markup.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Markup.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <applicationSettings>
        <Markup.MySettings>
            <setting name="App_Author" serializeAs="String">
                <value>Anthony Duguid</value>
            </setting>
            <setting name="App_PathReadMe" serializeAs="String">
                <value>https://github.com/Excel-projects/Excel-Markup/blob/master/README.md</value>
            </setting>
        </Markup.MySettings>
    </applicationSettings>
    <userSettings>
        <Markup.MySettings>
            <setting name="Markup_ShapeLineColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Markup_TriangleRevisionCharacter" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="Markup_LastShapeName" serializeAs="String">
                <value />
            </setting>
            <setting name="App_LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="App_PathNewIssue" serializeAs="String">
                <value>https://github.com/Excel-projects/Excel-Markup/issues/new</value>
            </setting>
            <setting name="Markup_ShapeLineSpacing" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="App_ReleaseDate" serializeAs="String">
                <value>10/31/2018 13:05:00</value>
            </setting>
            <setting name="Markup_ShapeDateFormat" serializeAs="String">
                <value>yyyy-MM-ddThh:mm:ss:fffzzz</value>
            </setting>
        </Markup.MySettings>
    </userSettings>
</configuration>
